<% @page_title = 'Categories' -%>

<%= content_tag('p', link_to(image_tag("back-button.jpg", :width=> 70, :height=>35), :controller => 'stuff', :action => 'menu')) %>

<table>
	<tr>
		<th>Name</th>
		<th>Short Name</th>
		<th>Description</th>
	</tr>

<% for category in @categories %>
	<tr class="<%= cycle('row1', 'row2') %>">
		<td><%= h(category.name) %></td>
		<td><%= h(category.short_name) %></td>
		<td><%= h(category.description) %></td>
		<td><%= link_to(image_tag("D:/Kalpesh/RoR BB/simple_blog/app/assets/images/buttons/edit.jpg", :width=>60, :height=>25), :action => 'list', :id => category) %></td>
		<td><%= link_to(image_tag("D:/Kalpesh/RoR BB/simple_blog/app/assets/images/buttons/delete.jpg", :width=>60, :height=>25), { :action => 'destroy', :id => category }, :confirm => 'Are you sure you want to remove this category?', :method => :post) %></td>
	</tr>
<% end -%>
</table>

<%= form_for(:category, :remote=>true, :url => params[:id].blank? ? {:action => 'create'} : {:action => "update", :id => @category, :format => :js}) do %>
	
	<table>
		<tr>
			<th>Name</th>
			<th>Short name</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><%= text_field(:category, :name, :size => 20) %></td>
			<td><%= text_field(:category, :short_name, :size => 20) %></td>
			<td><%= text_field(:category, :description, :size => 40) %></td>
			<td><%= submit_tag(params[:id].blank? ? "New": "Edit") %></td>
		</tr>
	</table>
<% end %>
